#Emotion
  h1.mbs Emotion
  div.inputArea.mbm
    label
      span SEARCH
      input(type="text" class="inputArea-search mrs")
    label
      span TARGET
      input(type="text" class="inputArea-target")
  div.emotions
    p emotions tags
  hr
  div.discript
    p show sentence